
<div class="ui centered grid container">


  <div class="five wide column" style="">
    <div class="">
      <app-search-scope-control></app-search-scope-control>
      <searchbar></searchbar>

      <div class="button-row">
      <a href="mailto:?&Subject={{activeDocument.title}}&Body=You might be interested in the article %0D%0A%0D%0A %20%20%20%20 {{activeDocument.title}} %0D%0A%0D%0A at {{host}}/documents/{{activeDocument.id}}">Share</a>
        <span class="reader-control" (click)="printActiveDocument()">Print</span>
        <span class="reader-control"  (click)="exportDocumentToLaTeX()">TeX</span>
        <a style="margin-left:8px; color: dodgerblue"
           target = "_blank"
           [hidden]="!printerValid"
           (click)="invalidatePrinter()"
           href="{{printUrl}}">Click to print</a>
        <a style="margin-left:8px; color: dodgerblue"
           target = "_blank"
           [hidden]="!exportValid"
           (click)="invalidateExport()"
           href="{{exportUrl}}">Click to download</a>
      </div>

      <document-list> </document-list>
    </div>
  </div>

  <div class="eleven wide column" style="">

    <app-document> </app-document>

  </div>



</div>
