
button {
  margin-left:8px;
  height:25px;
  baseline-shift: -10px;

}


.button-row {
  display: inline-block;
  margin-top:-15px;
  padding-top:10px;
  padding-bottom: 0.45em;
}


a, .reader-control  {

  color: cornflowerblue;
  font-weight: 500;
  margin-right: 8px;
  font-size: 1.15rem;

}
