

<div class="ui centered grid">

  <div class="five wide column">
  <img src="http://psurl.s3.amazonaws.com/images/jc/bird-b4ba.jpeg" width="100%" style="float:left; margin-right:15px; ">

  <h2>Welcome to Manuscripta.io</h2>
  <p style="">Write and publish ordinary text, place images, audio, and video.
    Even insert equations and formulae.</p>

  <img src="http://psurl.s3.amazonaws.com/images/manuscripta/integral.png" style="float: left; margin-left:40px;">

  <p style="margin-top:10rem;">To see more content, click on the <b>Read</b> tab above, and
    type something in the search box. <i>Try: &quot;harmonic&quot;, &quot;climate&quot; or
    &quot;poetry&quot;</i>
    <span style="margin-left:2rem; font-size: 1.25rem;" class="nav-item"><a [routerLink]="['/read']">Read Now</a></span>
  </p>

  </div>



  <!--
  <p>This app is a rewrite (in progress) of <a href="http://www.manuscripta.io">Manuscripta.io</a> in
    Angular2 + ngrx.  Still in a primitive state, but we are working on it.</p>
  -->

  <div class="six wide column">
    <signin></signin>
  </div>

</div>
