

<div class="ui centered grid">

  <div class="four wide column">

    <img src="http://psurl.s3.amazonaws.com/images/jc/bird-b4ba.jpeg" width="100%" style="float:left; margin-right:15px; ">

    <!-- LANDING PAGE  -->
    <div [hidden]="(signedIn$ | async)">
      <h2>Welcome to Manuscripta.io</h2>
      <p style="">Write and publish ordinary text, place images, audio, and video.
        Even insert equations and formulae.</p>

      <img src="http://psurl.s3.amazonaws.com/images/manuscripta/integral.png" width=150 style="margin-left:40px;margin-top:-25px;">

      <p style="margin-top:0rem;">To see what is on Manuscripta,
        type something in the search box. <i>Try: &quot;harmonic&quot;, &quot;quantum&quot;, &quot;id=265&quot; or
          &quot;poetry&quot;</i>. Or click on <b>Explore</b>, in the navigation bar.
        <!-- <span style="margin-left:0; font-size: 1.25rem;" class="nav-item"><a [routerLink]="['/read']">Read Now</a></span> -->
      </p>
    </div>


  </div>


<!-- [hidden]="signingUp" [hidden]="!(( user$ | async )?.signedIn)"-->
  <!--
  <p>This app is a rewrite (in progress) of <a href="http://www.manuscripta.io">Manuscripta.io</a> in
    Angular2 + ngrx.  Still in a primitive state, but we are working on it.</p>
  -->
  <div class="one wide column"></div>

  <div class="six wide column">


    <!-- SEARCH BAR -->
    <div style="margin-bottom:60px;">

      <searchbar [target]="'/read'"></searchbar>

    </div>


    <div style="margin-top:0px; margin-bottom:60px;" [hidden]="!(signedIn$ | async )">
      <!-- <app-search-scope-control></app-search-scope-control> -->

      <!-- SETTINGS -->
      <div style="margin-top:20px;font-size: 1.5rem;">
        <span style="color:cornflowerblue;"
                (click)="gotoLastDocument()">Last document: {{ lastDocumentTitle$ | async }} </span>
        <br><br>
        <a [routerLink]="['/settings']">Settings</a>

      </div>

    </div>



    <signin [hidden]="signingUp"></signin>
    <br><br>


    <span
      [hidden]="signingUp || (signedIn$ | async)"
      (click)="toggleSignup()"
    >
      <span style="font-weight:bold; color: cornflowerblue">Sign up</span> if you need an account
    </span>


    <signup [hidden]="!signingUp"></signup>

    <p style="margin-top:20px;" [hidden]="!signingUp"  (click)="toggleSignup()"><button class="auth-button-1">Cancel</button></p>




    <!-- MESSAGE: NOT VISIBLE WHEN SIGNED IN -->
    <div [hidden]="(signedIn$ | async)" style="margin-top:60px;width:250px; background-color:#eee; padding:20px;">
      <h4>Note</h4>
      <p>This is an experimental, incomplete version of <a href="http:www.manuscripta.io">Manuscripta.io</a>.</p>

      <p>Questions, bugs, etc: jxxcarlson at gmail.</p>
    </div>


  </div>


</div>

<pre>

  STORE @ HOME: {{(historyStore | async)?.history | json }}

</pre>
