
.document-list {

  background-color: #efefef; padding-left:10px; margin-right:27px;

}



ul {
  list-style-type: none;

  padding-left:0;
  margin-top: -0.35rem;
}

h1 { font-size: 1.5em; }

/**


.active {
  background-color: gray;
  color: white;
}
**/
