<div class="document-list container">

  <h1
    [hidden]="(numberOfDocuments$ | async) == 0"
  > {{documentListTitle}} ({{(documents$ | async)?.length}}) </h1>

  <!-- [hidden]="(numberOfDocuments$ | async) == 0" -->

  <!-- <div *ngIf="documents" [textPageHeight]="tocInset" class="document-list-inner"> -->
  <div [textPageHeight]="tocInset" class="document-list-inner">

    <ul class="">
      <document-list-item class=""

          *ngFor="let currentDocument of (documents$ | async)"
                          [document]="currentDocument"
                          (click)="selectDocument(currentDocument)"
                          [active]="isActive(currentDocument, (activeDocument$ | async))"
                          [subdocumentSymbol]="subdocumentSymbol(currentDocument)"

      >
      </document-list-item>
    </ul>
  </div>

</div>

<div style="margin-top:8px;">

  <span style="font-size:1.2rem;">{{(activeDocument$ | async)?.author }}: </span>
  <span style="font-size: 0.9rem;">{{((activeDocument$ | async)?.created_at) | date }}</span>
  <span style="font-size: 0.9rem;"> &mdash; {{((activeDocument$ | async)?.updated_at) | date }}</span>
</div>

<pre>

  {{(documents$ | async)?.length}}
 <!-- {{ store | async | json }}  -->

</pre>


