



<div class="ui centered grid">

    <div six wide column style="margin-top:2rem;">

      <div container style="text-align:left">

        <h2>New document</h2>

        <label>Title</label>
        <input type="text"
               [(ngModel)]="model.title" name="title"
        >
        <br>
        <br>
        <button style="margin-left:50px;" (click)="submit()">Create</button>
        <br>
        <button style="margin-left:50px;margin-top:8px;"><a [routerLink]="['/edit']">Cancel</a></button>

      </div>


    </div>

</div>
