



<div class="ui centered grid">

    <div six wide column style="margin-top:2rem;">

      <div class="container new-document" >

        <h2>New document</h2>

        <label>Title</label>
        <input type="text" class="text" style="width: 530px;"
               [(ngModel)]="model.title" name="title"
        >
        <br>
        <br>
        <button style="margin-left:53px;" (click)="submit()">Create</button>
        <br>
        <button style="margin-left:53px;margin-top:8px;"><a [routerLink]="['/edit']">Cancel</a></button>

        <br><br><br><br>
        <div>
          <input type="checkbox" class="radio" name="child" [checked]=false  [(ngModel)]="model.child">
          <span>Make the new document a child of</span> <label>{{ (activeDocument$ | async)?.title }} </label>

          <div *ngIf="hasParent">
            <br><br>
            <span>Or</span>
            <br><br>
            <span>Make the new document a child of</span> <label>{{ (activeDocument$ | async)?.links?.parent?.title }} </label>
            <br>
            <span style="margin-top:0.2rem;">And put it</span>
            <span *ngFor="let option of options">
              <input type="radio" class="radio" name="pos" [checked]="option.id == selectedOption.id" (click)="getValue(option.id)" value= {{option.id}}>{{option.name}}
            </span>
            <label>{{ (activeDocument$ | async)?.title }} </label>
          </div>

        </div>

        <!--
          <pre>{{model| json }}</pre>

          Has parent: {{hasParent}}

          -->

      </div>


    </div>

</div>
