



<div class="ui centered grid">

    <div six wide column style="margin-top:2rem;">

      <div class="container new-document" >

        <h2>New document</h2>

        <label>Title</label>
        <input type="text" class="text" style="width: 530px;"
               [(ngModel)]="model.title" name="title"
        >
        <br>
        <br>
        <button style="margin-left:50px;" (click)="submit()">Create</button>
        <br>
        <button style="margin-left:50px;margin-top:8px;"><a [routerLink]="['/edit']">Cancel</a></button>

        <br><br><br><br>
        <div>
          <input type="radio" class="radio" name="foo" [checked]="false">
          <label>Make child of:</label>
          <input type="text" class="text" style="width: 410px;"
                 [(ngModel)]="model.parentDocumentTitle" name="title"
          >

          <br><br><br>
          <label>Put above</label>
          (above) <input type="radio" class="radio" name="foo" [checked]="false">
          (below) <input type="radio" class="radio" name="foo" [checked]="true">
          <input type="text" class="text"
                 [(ngModel)]="model.siblingDocumentTitle" name="title"
          >
        </div>

      </div>


    </div>

</div>
