li {

  font-size: 0.95rem;
  margin-bottom:0.0rem;
  height:1.5rem;
  padding-left: 0.3rem;
  padding-top: 0.65rem;
  width: 100%;
  color: cornflowerblue;
  font-weight: 500;

}

.button-row {

  font-size: 1rem;
  font-weight: 400;
}
