

<div class="ui centered grid container">


  <div class="five wide column" style="">

    <div class="button-row">
      <button (click)="openImageUploader()">New</button>
      <button (click)="randomImages()">Random</button>
    </div>

    <image-searchbar></image-searchbar>

    <p style="margin-bottom:6px;margin-top:-3px;">{{ (images$ | async)?.length }} images</p>

    <div class="image-list">

      <div [textPageHeight]="tocInset" class="image-list-inner">

        <ul class="">
          <image-list-item class=""

                              *ngFor="let currentImage of (images$ | async)"
                              [image]="currentImage"
                              [active]="isActive((image$ | async), currentImage)"

          >
          </image-list-item>
        </ul>
      </div>

    </div>

  </div>

  <div class="eleven wide column" style="">

    <img src="{{(image$ | async)?.storage_url}}">
    <p style="margin-top:0.2rem; margin-bottom:1.4rem">{{(image$ | async)?.id}}:  {{(image$ | async)?.title}}</p>

  </div>


</div>

