

<div class="ui centered grid container">


  <div class="five wide column" style="">

    <div class="image-list">

      <image-searchbar></image-searchbar>

      <div [textPageHeight]="tocInset" class="image-list-inner">

        <ul class="">
          <image-list-item class=""

                              *ngFor="let currentImage of (images$ | async)"
                              [image]="currentImage"

          >
          </image-list-item>
        </ul>
      </div>

    </div>

  </div>

  <div class="eleven wide column" style="">

    <img src="{{(image$ | async)?.storage_url}}">

  </div>

</div>

