




  <!--- SIGN OUT BUTTON -->
  <p [hidden]="!(( user$ | async ).signedIn)" style="font-size:1.5em;" >Signed in as  {{ ( user$ | async)?.username }}</p>
  <button [hidden]="!(user$ | async)?.signedIn" (click)="signOut()">Sign out</button>

  <!--- SIGN IN FORM -->
  <div [hidden]="( user$ | async ).signedIn">
    <h2>Sign in</h2>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

      <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" formControlName="username">
        <p><small class="advice" [hidden]="myForm.controls.username.valid || (myForm.controls.username.pristine && !submitted)" class="text-danger">
          Username is required (minimum 5 characters).
        </small></p>
        <!--<pre class="margin-20">{{ myForm.controls.name.errors | json }}</pre>-->
      </div>

      <br>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <p><small class="advice" [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)" class="text-danger">
          Password is required (minimum 5 characters).
      </small></p>
        <!--<pre class="margin-20">{{ myForm.controls.name.errors | json }}</pre>-->
      </div>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>


    </form>
  </div>

